absl-py==1.1.0
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1652758927346/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.0
cftime @ file:///D:/bld/cftime_1649637025912/work
charset-normalizer==2.0.12
click==8.1.3
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
convertdate==2.4.0
cryptography==37.0.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.30
debugpy==1.6.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
entrypoints==0.4
ephem==4.1.3
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema==2.15.3
Flask==2.1.2
flatbuffers==1.12
fonttools @ file:///D:/bld/fonttools_1651018206941/work
gast==0.4.0
google-auth==2.7.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h11==0.13.0
h5py==3.7.0
hijri-converter==2.2.4
idna==3.3
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252997230/work
ipykernel==6.13.1
ipython @ file:///C:/ci/ipython_1651601994004/work
itsdangerous==2.1.2
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1648854553193/work
korean-lunar-calendar==0.2.1
libclang==14.0.1
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1651609646819/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
munkres==1.1.4
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4 @ file:///D:/bld/netcdf4_1636303787759/work
numpy @ file:///D:/bld/numpy_1653325517362/work
oauthlib==3.2.0
opt-einsum==3.3.0
outcome==1.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1653497239685/work
pandas-datareader==0.10.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///D:/bld/pillow_1652815137200/work
plotly==5.8.1
pmdarima==1.8.5
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
psutil==5.9.1
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyMeeus==0.5.11
pyOpenSSL==22.0.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.18.1
PySocks==1.7.1
pystan==2.19.1.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
pywin32==304
pyzmq==23.1.0
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.1.1
scipy @ file:///C:/bld/scipy_1653074066186/work
seaborn==0.11.2
selenium==4.2.0
setuptools-git==1.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.2
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.1.0
tornado @ file:///D:/bld/tornado_1648827405403/work
tqdm==4.64.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.2.0
unicodedata2 @ file:///D:/bld/unicodedata2_1649112114189/work
urllib3==1.26.9
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.1.2
wincertstore==0.2
wrapt==1.14.1
wsproto==1.1.0
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
xarray-einstats @ file:///home/conda/feedstock_root/build_artifacts/xarray-einstats_1648967091347/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
